<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yy.www.libs">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ImageZoomActivity"

            android:theme="@style/AppTheme.Transparent" />

    </application>

</manifest>
